<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="avreye.mytarotadvisor">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <permission
        android:name="your.package.name.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="your.package.name.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.appboy.sample.permission.RECEIVE_ADM_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.appboy.sample.permission.RECEIVE_ADM_MESSAGE" />
    <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/ThemewithActionBar">
        <activity
            android:name=".ui.credentail.ClientLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".ui.credentail.RegisterationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AdvisorDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.VideoPlayerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ChatActivityforUser"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ChatActivityforAdvisor"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ClientSendMessage"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ThemewithActionNoBar" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AppboyBroadcastReceiver"
            android:exported="false">
            <intent-filter>

                <!-- Replace YOUR-APPLICATION-PACKAGE-NAME with the package name of your app -->
                <action android:name="avreye.mytarotadvisor.intent.APPBOY_PUSH_RECEIVED" />
                <action android:name="avreye.mytarotadvisor.intent.APPBOY_NOTIFICATION_OPENED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.appboy.AppboyGcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.liquidsoftwaremobile.mytarotadvisor" />
            </intent-filter>
        </receiver>

        <service android:name=".PubnubService" />
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <activity
            android:name=".ui.VideoOrderConfirmationScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.CreditsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.FaqTosPp"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.SupportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/ThemewithActionNoBar" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/ThemewithActionNoBar" />
        <activity android:name="com.appboy.ui.activities.AppboyFeedActivity" />
        <activity
            android:name=".ui.AdvisorAvailabilityActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.AdvisorRating"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.OrderHistory"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.PromoCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.UpdateAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainScreenTheme"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>